---
apiVersion: v1beta1
kind: AgentConfig
metadata:
  name: {{ cluster_info.name }}
rendezvousIP: {{ rendezvous_ip }}
hosts:
{% for node in nodes %}
  - hostname: {{ node.name }}
    interfaces:
      - name: {{ node.cluster_link.inteface | default(all_node_settings.cluster_link.interface) }}
        macAddress: {{ node.cluster_link.mac_address }}
    rootDeviceHints:
      deviceName: {{ node.installation_device | default(all_node_settings.installation_device) }}
    networkConfig:
      interfaces:
        - name: {{ node.cluster_link.inteface | default(all_node_settings.cluster_link.interface) }}
          type: ethernet
          state: up
          mac-address: {{ node.cluster_link.mac_address }}
          ipv4:
            enabled: true
            address:
              - ip: {{ node.cluster_link.ip_address }}
                prefix-length: {{ node.cluster_link.subnet_length | default(all_node_settings.cluster_link.subnet_length) }}
            dhcp: false
      dns-resolver:
        config:
          server:
{% if node.dns_servers is defined %}
{% for dns_server in node.dns_servers | default(all_node_settings.dns_servers) %}
            - {{ dns_server }}
{% endfor %}
{% endif %}
      routes:
        config:
{% for route in node.routes | default(all_node_settings.routes) %}
          - destination: {{ route.destination }}
            next-hop-address: {{ route.router_address }}
            next-hop-interface: {{ route.interface }}
            table-id: {{ route.table_id }}
{% endfor %}
{% endfor %}